/writing-assignment-1-liberal-arts.aux
/writing-assignment-1-liberal-arts.bbl
/writing-assignment-1-liberal-arts.bcf
/writing-assignment-1-liberal-arts.blg
/writing-assignment-1-liberal-arts.fdb_latexmk
/writing-assignment-1-liberal-arts.fls
/writing-assignment-1-liberal-arts.log
/writing-assignment-1-liberal-arts.out
/writing-assignment-1-liberal-arts.pdf
/writing-assignment-1-liberal-arts.run.xml
auto/
